<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Nick's Recipe Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('recipes')}}">Recipes</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
            <div class="container w-75">
                <form method = post enctype = multipart/form-data id="recipe-form" class="p-4 m-4 row shadow-sm rounded-3 border border-primary">
                  <div class="form-group col-md-4 my-2">
                    <label for="name">Name of Recipe</label>
                    <input required autocomplete="off" type="text" id="name" class="form-control" placeholder="e.g., Lasagna">
                  </div>
                  <div class="form-group col-md-4 my-2">
                    <label for="ingredients">List of Ingredients</label>
                    <input required autocomplete="off" type="text" id="ingredients" class="form-control" placeholder="e.g., Pasta, tomato sauce, cheese">
                  </div>
                  <div class="form-group col-md-4 my-2">
                    <label for="serving">Serving Instructions</label>
                    <input required autocomplete="off" type="text" id="serving" class="form-control" placeholder="e.g., Serves 3-4 people">
                  </div>
                  <div class="form-group col-md-4 my-2">
                    <label for="prep">Preparation Instructions</label>
                      <textarea class="form-control" id="prep" rows="3"></textarea>
                  </div>
                    <div class="form-group col-md-4 my-2">
                    <label for="recipe_image">Recipe image</label>
                    <input name="file" type="file" id="recipe_image" accept=".jpg,.jpeg,.png" onchange="validateFileType()">
                  </div>
                  <div class="form-group mt-4">
                    <input type="submit" value="Add Recipe" class="btn btn-primary">
                  </div>
                </form>
                <div class="container">
                    <div class="row m-4 border-bottom border-3 border-primary">
                        <p class="h3 text-primary">Saved Recipes</p>
                    </div>
                </div>
                    <div class="row row-cols-1 row-cols-md-3 mx-4 my-6 text-center" id="recipe-container">
                    </div>
                <div class="form-group mt-4">
                <button onclick="downloadCSV(listItems)">download csv</button>
                    </div>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.6/purify.js"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='recipes.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
    </body>
</html>
